<div class="menu-bar__container">
	<div class="menu-bar__logo">
		<img src="assets/ps-logo.png" alt="playstation logo" srcset="" width="140px" height="32px">

	</div>


	<div class="menu-bar__item">
		<ul>
			<li><a target="_blank" href="https://michelrocha-dev.netlify.app">PORTFÓLIO</a></li>
			<li><a target="_blank" href="https://www.linkedin.com/in/michel-rocha-01b550210/">LINKEDIN</a></li>
			<li><a target="_blank" href="https://github.com/MichelRLima">GITHUB</a></li>
		</ul>
	</div>

	<div class="menu-bar__mobile">
		<img (click)="toggleMenu()" src="../../../assets/bar.png" alt="">


	</div>



</div>

<div class="menu-bar__item-mobile" [ngClass]="{'menu-aberto': menuAberto, 'menu-fechado': !menuAberto}">
	<ul>
		<li><a target="_blank" href="https://michelrocha-dev.netlify.app">PORTFÓLIO</a></li>
		<li><a target="_blank" href="https://www.linkedin.com/in/michel-rocha-01b550210/">LINKEDIN</a></li>
		<li><a target="_blank" href="https://github.com/MichelRLima">GITHUB</a></li>
	</ul>
</div>